<div id="header">
  <div class="top_strip">
    <div class="container">
      <ul class="top_strip_menu">
        {% if request.user.is_authenticated %}
        {% if request.user.teacher %}
          <li class="top_menu_item">
            <a href="{% url 'show_teacher' id=request.user.teacher.id %}">Мой профиль</a>
          </li>
        {% endif %}
          <li class="top_menu_item">
            <a href="{% url 'logout' %}">Выход</a>
            <!-- <%= link_to 'Выход', destroy_user_session_url, method: :delete, class: 'menu__item-link' %> -->
          </li>
          {% else %}
            <li class="top_menu_item">
              <a href="{% url 'login' %}">Вход</a>
              <!-- <%= link_to 'Вход', new_user_session_path, class: 'menu__item-link' %> -->
            </li>
          {% endif %}
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="logo_box">
      <div id="logo">
        {% load static %}
        <a href="{% url 'home' %}">
          <img src="{% static 'images/logo.png '%}" alt="Logo"> 
        </a>
      </div>
      <div class="search">
        <form class="search_box" action="{% url 'search_students' %}" method="get">
          <div class="input-group">
            <input type="text" class="form-control" id='student' name='query' placeholder="поиск учеников">
            <div class="input-group-append">
              <button class="btn btn-lg btn-outline-success" type="submit">
                <i class="bi bi-search"> 
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg><span style="padding-left: 8px;">найти</span></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>