<div id="nav_bar">
  <div class="container">
    <ul class="nav_menu">
      <li class="menu_item"><a href="{% url 'all_klasses' %}">Классы</a></li>
      <li class="menu_item"><a href="{% url 'students' %}">Ученики</a></li>
      <li class="menu_item"><a href="{% url 'add_student' %}">Добавить ученика</a></li>
      <li class="menu_item"><a href="">Поиск учеников</a></li>
      <li class="menu_item"><a href="">Табеля</a></li>
      <li class="menu_item"><a href="{% url 'reports' %}">Отчеты</a></li>
    </ul>
  </div>
</div>
