.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.search {
    display: inline-block;
    margin-left: 50px;
    width: 60%;
    height: auto;
}

.search_box {
    display: block;
    height: 100%;
    width: auto;
    position: relative;
}

.search_box > img {
    margin: auto;
    width: 90%;
    height: auto;
    object-fit: contain;
    position: absolute;
    top: 30%;
}