{% extends "base.html" %}
{% block page_content %}
<div>
  {% include "partials/back_page_link.html" %}
  <h2>Форма добавления документа</h2>
  <h3>Ученик: {{ student.person.full_name }}</h3>
  <form action="{% url 'add_student_document' student.id %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for doc in form %}
    <div class="form-group row mb-1">
      <label class="col-sm-4 col-form-label" for='{{ doc.id_for_label }}'>{{ doc.label }}</label>
      <div class="col-sm-8 col-form-control"> {{ doc }} </div>
      <div class="form-error">{{ doc.errors }}</div>
    </div>
    {% endfor %}
    <input type="submit" value="Сохранить" class="w-25 btn btn-sm btn-success">
    <input type="reset" value="Сбросить" class="w-25 btn btn-sm btn-secondary">
  </form>
</div>
{% endblock %}
