{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="student_profile_block">
    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-sm btn-primary ml-2">Назад</a>
    <h2>Профиль ученика</h2>
    <div class="student_profile_wrapper row">
        <div class="student_details col-6">
            {% if student.person.photo %}
            <div class="mb-1">
                <img src='{{ student.person.photo.url }}' alt="avatar" class="img-thumbnail">
            </div>
            {% endif %}
            <div class="row mb-1">
                <div class="col-4">Фамилия:</div>
                <div class="col-8">{{ student.person.last_name }}</div>
            </div>
            <div class="row mb-1">
                <div class="col-4">Имя:</div>
                <div class="col-8">{{ student.person.first_name }}</div>
            </div>
            <div class="row mb-1">
                <div class="col-4">Отчество:</div>
                <div class="col-8">{{ student.person.middle_name }}</div>
            </div>
            <div class="row mb-1">
                <div class="col-4">Пол:</div>
                <div class="col-8">{{ student.person.get_gender_display }}</div>
            </div>
            <div class="row mb-1">
                <div class="col-4">Дата рождения:</div>
                <div class="col-8">{{ student.person.birth_date }}</div>
            </div>
            <div class="row mb-1">
                <div class="col-4">Телефон:</div>
                <div class="col-8">{{ student.person.phone }}</div>
            </div>
            <div class="row mb-1">
                <div class="col-4">Город:</div>
                <div class="col-8">
                    {% if student.person.city.name != None %} {{ student.person.city.name }} {% endif %}
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-4">Область:</div>
                <div class="col-8">
                    {% if student.person.region.name != None %} {{ student.person.region.name }} {% endif %}
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-4">Национальность:</div>
                <div class="col-8">
                    {% if student.person.nationality.name != None %} {{ student.person.nationality.name }} {% endif %}
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-4">Адрес прописки:</div>
                <div class="col-8">{{ student.person.registration_address }}</div>
            </div>
            <div class="row mb-1">
                <div class="col-4">Адрес проживания:</div>
                <div class="col-8">{{ student.person.actual_address }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-4">Класс:</div>
                <div class="col-8">
                    {% if  student.klasses.last.code != None %} {{  student.klasses.last.code }} {% endif %}
                </div>
            </div>
            <div class="row mb-1">
                <a href="{% url 'edit_student' id=student.id %}" class="w-50 btn btn-sm btn-success">Редактировать</a>
            </div>
        </div>
        <div class="student_extra_info col-6">
            <h3>Родители ученика</h3>
            {% for parent in student.parents.all %}
            <div class="row mb-4">
                <div class="col-6">ФИО родителя:</div>
                <div class="col-4">Тип родства:</div>
                <div class="col-2">Действие:</div>
                <div class="col-6">{{ parent.person.full_name }}</div>
                <div class="col-4">{{ parent.get_relation_type_display }}</div>
                <div class="col-2">
                    <a href="{% url 'show_parent' id=parent.id %}" class="mx-1" title="Просмотреть">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-binoculars" viewBox="0 0 16 16">
                            <path d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V2.5zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5h-1zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V4zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5V3zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14z"/>
                        </svg>
                    </a>
                    <a href="{% url 'delete_student_parent' id=student.id parent_id=parent.id %}" class="mx-1" title="Удалить" data-toggle="modal" data-target="#confirmParentDeletion">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                        </svg>
                    </a>
                </div>
            </div>
            {% endfor %}
            <!-- <div class="row mb-4">
                <div class="col-4">ФИО родителя:</div>
                <div class="col-8">{{ student.person.last_name }}</div>
            </div> -->
            <div class="row mb-4">
                <a href="{% url 'add_student_parent' id=student.id %}" class="w-50 btn btn-sm btn-success">Добавить родителя</a>
            </div>
            <h3>Характеристика ученика</h3>
            {% for review in student.reviews.all %}
                <div class="row mb-4">
                    <div class="col-10">Название:</div>
                    <div class="col-2">Действие:</div>
                    <div class="col-10">{{ review.title }}</div>
                    <div class="col-2">
                        <a href="{% url 'show_review' id=review.id %}" class="mx-1" title="Просмотреть">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-binoculars" viewBox="0 0 16 16">
                                <path d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V2.5zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5h-1zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V4zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5V3zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14z"/>
                            </svg>
                        </a>
                        <a href="{% url 'delete_student_review' id=student.id review_id=review.id %}" class="mx-1" title="Удалить" data-toggle="modal" data-target="#confirmParentDeletion">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            {% endfor %}
            <div class="row mb-4">
                <a href="{% url 'add_characteristics' id=student.id %}" class="w-50 btn btn-sm btn-success">Добавить характеристику</a>
            </div>
            <h3>Документы ученика</h3>
            {% for doc in student.student_documents.all %}
            <div class="row mb-4">
                <div class="col-10">Название:</div>
                <div class="col-2">Действие:</div>
                <div class="col-10"><a href="{{ doc.file.url }}" title="Скачать">{{ doc.name }}</a></div>
                <div class="col-2">
                    <a href="{% url 'edit_student_document' id=student.id doc_id=doc.id %}" class="mx-1" title="Изменить">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                    </a>
                    <a href="{% url 'delete_student_document' id=student.id doc_id=doc.id %}" class="mx-1" title="Удалить" data-toggle="modal" data-target="#confirmParentDeletion">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                        </svg>
                    </a>
                </div>
            </div>
        {% endfor %}
        <div class="row mb-4">
            <a href="{% url 'add_student_document' id=student.id %}" class="w-50 btn btn-sm btn-success">Добавить документ</a>
        </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="confirmParentDeletion" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
</div>
{% endblock %}
