{% extends "base.html" %}
{% block page_content %}
{% load school_tags %}
{% load static %}
<div class="tab_cover_wrapper">
    <div class="tab_itmes">
      <div class="tab_item_block">
        <a href="{% url 'all_klasses' %}">
          <div class="tab_item_cover">
            <img src="{% static 'images/klass.png' %}">
          </div>
          <div class="tab_item_title">Классы</div>
        </a>
      </div>
      <div class="tab_item_block">
        <div class="tab_item_cover">
            <img src="{% static 'images/tables.png' %}">
        </div>
        <div class="tab_item_title">Табеля</div>
      </div>
      <div class="tab_item_block">
        <a href="{% url 'students' %}"> 
          <div class="tab_item_cover">
              <img src="{% static 'images/students.png' %}">
          </div>
          <div class="tab_item_title">Ученики</div>
        </a>
      </div>
      <div class="tab_item_block">
        <a href="{% url 'reports' %}">
          <div class="tab_item_cover">
              <img src="{% static 'images/reports.jpg' %}">
          </div>
          <div class="tab_item_title">Отчеты</div>
        </a>
      </div>
    </div>
  </div>
  <!-- <div>
    {% get_teachers as teacher %}
    {% for t in teacher %}
    <p> {{ t.last_name}}</p>
    {% endfor %}
  </div>
  <div>
    {% get_subjects filter=1 %}
  </div> -->
  {% endblock %}