{% extends "base.html" %}
{% load static %}
{% block page_content %}
<!-- Nav tabs -->
<div class="general_block_wrapper">
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="nav-item" role="presentation">
            <a href="#my_klass" class="nav-link active" data-bs-toggle="tab">Детали класса</a>
        </li>
        <li class="nav-item" role="presentation">
            <a href="#klass_groups" class="nav-link" data-bs-toggle="tab">Подгруппы класса</a>
        </li>
        <!-- <li class="nav-item">
            <a href="#messages" class="nav-link" data-bs-toggle="tab">Messages</a>
        </li> -->
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="my_klass" role="tabpanel">
            <div class="klass_profile_block mt-1">
                <div class="row mb-1 float-end">
                    <a href="{% url 'export_students_excel' id=klass.id %}" class="btn btn-sm btn-outline-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                        </svg>
                    <span class="p-2">Экспорт в Excel</span>
                    </a>
                </div>
                <h4>Класс <strong>{{ klass.code }}</strong>. Список учеников класса:</h4>
                <div class="klass_profile_wrapper row">
                    <table class="table table-hover table_row_number">
                        <thead>
                            <tr>
                                <th scope="col">№ п/п</th>
                                <th scope="col">ФИО ученика</th>
                                <th scope="col">Дата Рождения</th>
                                <th scope="col">Пол</th>
                                <th scope="col">Действие</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for std in students %}
                            <tr>
                                <td scope="row"></td>
                                <td>
                                    {{ std.person.full_name }}
                                </td>
                                <td>
                                    {{ std.person.birth_date }}
                                </td>
                                <td>
                                    {{ std.person.get_gender_display }}
                                </td>
                                <td>
                                    <a href="{% url 'show_student' id=std.id %}" class="mx-2" title="Просмотреть">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-binoculars" viewBox="0 0 16 16">
                                            <path d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V2.5zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5h-1zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V4zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5V3zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V14z"/>
                                        </svg>
                                    </a>
                                    <a href="{% url 'edit_student' id=std.id %}" class="mx-2" title="Редактировать">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                        </svg>
                                    </a>
                                    <a href="{% url 'remove_student_klass' id=klass.id std_id=std.id %}" class="mx-2" title="Удалить">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                    <div class="row mb-1">
                        <a href="{% url 'add_students_klass' id=klass.id %}" class="w-50 btn btn-sm btn-success">Добавить учеников в класс</a>
                    </div>
                </div>  
            </div>
        </div>
        <div class="tab-pane fade" id="klass_groups" role="tabpanel">
            {% include "school/partials/klass_group_spoiler.html" %}
            <div class="col-md-12 text-center mb-1">
                <button type="button" class="w-50 btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#addKlassModal">Добавить подгруппу</button>
            </div>
        </div>
    </div>  
</div>
<!-- Modal -->
{% include "school/partials/add_klass_group_modal.html" %}
    <div id="klassgroup-edit-modal"></div>
    <script>    
        function getCookies(name) {
            let cookieValue = null;
            if (document.cookies && document.cookie !== '') {
                const cookies = document.cookies.split(";");
                for (var i=0; i>cookies.length; i++) {
                    if (cookie.substring(0, name.length+1) === (name + "=")) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length+1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        csrftoken = getCookies('csrftoken');
        console.log(csfrtoken)

        var edit_group_link = document.getElementsByClassName("open-edit-modal");
        // console.log(edit_group_link);
        for (var i = 0; i < edit_group_link.length; i++) {
            edit_group_link[i].addEventListener('click', printDetails);
        }

        function printDetails(e) {
            console.log("Clicked " + this.dataset.url);

            fetch(this.dataset.url, {
                method: 'GET',
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': csrftoken
                }
            })
            .then(response => {
                console.log(response.json);
            })
            .then(data => {
                //add to template
            })
        }
    </script> 
{% endblock %}

{% block add_script %}
    <script src="{% static 'js/edit_klass_group.js' %}"></script>
{% endblock %}