{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{ % static 'css/signin.css' % }"  type="text/css">
{% block page_content %}
<div class="text-center">
  {% if next %}
    <form action="/login/?next={{next}}" method="post" class="form-signin w-50">
  {%else%}
  <form action="{% url 'login' %}" method="post" class="form-signin w-50">
  {% endif %}
    {% csrf_token %}
    <img class="mb-4" src="{% static 'images/logo.png '%}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Введите данные для входа</h1>
    {% if next %}
      <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    <div class="form-error">{{ form.non_field_errors }}</div>

    <!-- <div class="form-floating">
      <input type="text" class="form-control" id="user" placeholder="Пользователь">
      <label for="user">Пользователь</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" placeholder="Пароль">
      <label for="password">Пароль</label>
    </div> -->

    {% for f in form %}
    <div class="form-floating">
        {{ f }}<label class="form-label" for='{{ f.id_for_label }}'>{{ f.label }}</label>
        <div class="form-error">{{ f.errors }}</div>
    </div>
    {% endfor %}
</br>
    <!-- <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div> -->
    <button type="submit" class="w-50 btn btn-lg btn-primary">Отправить</button> 
</form>
</div>
{% endblock %}
