{% extends "base.html" %}
{% block page_content %}
{% load static %}
<div class="tab_cover_wrapper">
    <div class="tab_itmes">
      <div class="tab_item_block">
        <div class="tab_item_cover">
          <img src="{% static 'images/statistics.png' %}">
        </div>
        <div class="tab_item_title">Статистика</div>
      </div>
      <div class="tab_item_block">
        <div class="tab_item_cover">
            <img src="{% static 'images/tables.png' %}">
        </div>
        <div class="tab_item_title">Табеля</div>
      </div>
      <div class="tab_item_block">
        <div class="tab_item_cover">
            <img src="{% static 'images/students.png' %}">
        </div>
        <div class="tab_item_title">Ученики</div>
      </div>
      <div class="tab_item_block">
        <div class="tab_item_cover">
            <img src="{% static 'images/reports.jpg' %}">
        </div>
        <div class="tab_item_title">Отчеты</div>
      </div>
    </div>
  </div>
  {% endblock %}